<%- include('header.ejs') -%>

<!-- body -->
<div class="body">
  <h1>Home</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi,
    reprehenderit at qui dolorum soluta perspiciatis laboriosam voluptatem
    corporis cupiditate repudiandae minus non similique. Itaque repellendus
    aliquid culpa nulla reprehenderit nisi!
  </p>
</div>
<% for(let i = 0; i < posts.length; i++){ %>
<div class="body">
  <h2><%=days[i]%></h2>
  <div class="entry">
    <p class="text"><%=posts[i]%></p>
    <% if(posts[i].length > 75){ %>
    <a href="/posts/post?entry=<%=days[i]%>" id="<%=posts[i]%>" class="link"
      >Read more</a
    >
    <% } %>
  </div>
</div>
<% } %> <%- include('footer.ejs') -%>
